@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: sans-serif;
    background-color: #fcfbfc;
    overflow-x: hidden;
}